<!DOCTYPE html>
html(lang="en")
  head
   meta(charset="UTF-8")
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   meta(http-equiv="X-UA-Compatible", content="ie=edge")
   title 
   ent
   body
    form(action="/todos",method = "POST")
     input(type="text" name="todo")
     button(type="submit") Add todo 
     ul
      if todos
         each todo in todos
             span(class = "todo-item")
                 li= 'Todo : ' + todo.title
                 input(type= "checkbox" checked= todo.completed id=todo.id)
      else
         li= "No todos left"
